$popover-max-width: 500px;
$yiq-contrasted-threshold: 160;
$custom-control-cursor: pointer;
$enable-shadows: true;

@use 'bootstrap/scss/bootstrap';
@use 'nano-noty/src/noty';
@use 'nano-noty/src/themes/bootstrap-v5';

.bg-body-tertiary {
  background: #f5f5f5;
}

h4 {
  font-size: 1.5em;
  font-style: normal;
}

h5 {
  font-size: 1em;
  font-weight: bold;
}
